.catDetails {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 20px;
  width: 1800px;
  min-height: 83vh;
}

.catDetails h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.catDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 250px;

}

.imageContainer img {
  max-width: 600px;
  max-height: 600px;
}

.statsContainer {
  flex: 1;
  padding: 0 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 5px 0;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #e6e6e6;
}

/* You can adjust the colors and styling as per your preference. */
