.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-left: 300px;
  }
  
  .product-image img {
    min-width: 550px;
    min-height: 550px;
    max-width: 750px;
    max-height: 550px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .product-info {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .product-info h1 {
    font-size: 32px;
    margin: 0;
    color: #333;
  }
  
  .product-info p {
    font-size: 18px;
    color: #666;
  }
  
  .product-info .price {
    font-size: 24px;
    font-weight: bold;
    color: #FF8787; 
    margin-top: 10px;
  }
  
  .product-info button {
    background-color: #FF8787;
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
  }
  
  .product-info button:hover {
    background-color: #E25858; /* Darker red on hover */
  }
  
  .product-info button:disabled {
    background-color: #838383; /* Grayed out when disabled */
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
      .product{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
      }

      .product-image img {
        max-width: 300px;
        max-height: 100px;
        min-width: 300px;
        min-height: 300px;
      }
  }
  