.PokemonDetails {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-height: 88vh;
  }
  
  .PokemonDetails .pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .PokemonDetails .pokemon-image {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .PokemonDetails .pokemon-stats, .PokemonDetails .pokemon-abilities {
    margin-top: 20px;
  }
  
  .PokemonDetails h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .PokemonDetails ul {
    list-style-type: none;
    padding: 0;
  }
  
  .PokemonDetails li {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
  }
  
  .PokemonDetails .pokemon-abilities {
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }
  