header {
    background-color: transparent; 
    font-family: sans-serif;
    color: rgb(0, 0, 0); 
    padding: 0px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: black;
  }
  .logo a {
    color: black;
    text-decoration: none;
  }
  ul a {
    text-decoration: none;
    color: black;
  }
   .logo {
    font-size: 24px; 
    font-weight: bold; 
    cursor: pointer;
  }
  
  nav ul {
    list-style: none; 
    padding: 0; 
    display: flex; 
    align-items: center;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
  }

  header div{
    margin-left: 10px;
  }
  
  nav ul li {
    margin-right: 20px; 
  }
  

  