.product {
    display: flex;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    margin-top: 200px;
    background-color: aliceblue;
}

.product-image img {
    width: 490px;
    object-fit: contain;
}

.product-info h1 {
    font-size: 50px;
}

.product-info p {
    font-size: 20px;
}
.product-info{
    padding: 50px;
}
.product div button{
    padding: 17px;
    margin-right: 7px;
    background-color: rgb(255, 135, 135);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.product-info div button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

